* *::after * ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
  
    --hederbackground:black;
    --menubarcl:rgb(65, 3, 80);

}
body{
   width: 100%;
   height: 15%;
   margin: 0;
   padding: 0;

}

.Menu_bar{
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: aqua;
    display: flex;
    align-items: center;
}
.hh{
    width: auto;
    height: 100%;
    display: inline;
    margin-left: 20px;
}
h1{

   
display: inline;
    align-items: center;
    text-transform: uppercase;
    
}
strong{
    color: rgb(4, 0, 243);
    text-transform: capitalize;
}
